<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla::head">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
     <div>
            <img th:src="@{/images/cat.jpg}" class="d-block w-100" alt="..." height="420px" >
        </div>
        <div class="container-fluid text-center " style="height: 60px">
            <h3 style="font-family: serif;background-color: #e9e8e9; height: 40px">Historial Medico de tu Mascota</h3>
        </div>
    <section th:fragment="listadoRegistroMedico" id="registroMedico">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{listado.registrosMedicos}]]</h4>
                        </div>
                        <div th:if="${registrosMedicos != null and !registrosMedicos.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID Registro Médico</th>
                                        <th>Fecha Última Visita</th>
                                        <th>Razón Última Visita</th>
                                        <th>Examen Físico</th>
                                        <th>Peso</th>
                                        <th>Temperatura</th>
                                        <th>Evaluación Veterinario</th>
                                        <th>Recomendaciones</th>
                                        <th>Acciones</th> <!-- Nueva columna para los botones -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="registro : ${registrosMedicos}">
                                        <td th:text="${registro.idRegistroMedico}"></td>
                                        <td th:text="${registro.fechaUltimaVisita}"></td>
                                        <td th:text="${registro.razonUltimaVisita}"></td>
                                        <td th:text="${registro.examenFisico}"></td>
                                        <td th:text="${registro.peso}"></td>
                                        <td th:text="${registro.temperatura}"></td>
                                        <td th:text="${registro.evaluacionVeterinario}"></td>
                                        <td th:text="${registro.recomendaciones}"></td>
                                        <td>
                                            <!-- Botón para editar -->
                                               <a th:href="@{/modificarRegistroMedico/{IdRegistroMedico}(IdRegistroMedico=${registro.idRegistroMedico})}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Editar
                                                </a>
                                            <!-- Botón para eliminar -->
                                            <a th:href="@{/eliminarRegistroMedico/{IdRegistroMedico}(IdRegistroMedico=${registro.idRegistroMedico})}" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Eliminar</a>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${registrosMedicos == null or registrosMedicos.empty}">
                            <span>[[#{listado.vacio}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <div th:replace="layout/plantilla :: info">
        </div>
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>
