<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla::head">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <section th:fragment="modificarRegistroMedico" id="modificarRegistroMedico">
        <div class="container col-md-8">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fechaUltimaVisita">Fecha de la última visita</label>
                    <input type="date" class="form-control" id="fechaUltimaVisita" th:field="*{fechaUltimaVisita}" required="true">
                </div>
            </div>
            <div class="form-row"> 
                <div class="form-group">
                    <label for="razonUltimaVisita">Razón de la última visita</label>
                    <input type="text" class="form-control" id="razonUltimaVisita" th:field="*{razonUltimaVisita}" required="true" placeholder="Razón de la última visita">
                </div>
                <div class="form-group">
                    <label for="examenFisico">Examen Físico</label>
                    <input type="text" class="form-control" id="examenFisico" th:field="*{examenFisico}" required="true" placeholder="Examen Físico">
                </div>
                <div class="form-group">
                    <label for="peso">Peso de la mascota</label>
                    <input type="text" class="form-control" id="peso" th:field="*{peso}" required="true" placeholder="Peso de la mascota">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="temperatura">Temperatura de la mascota</label>
                    <input type="text" class="form-control" id="temperatura" th:field="*{temperatura}" required="true" placeholder="Temperatura de la mascota">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="evaluacionVeterinario">Evaluación del veterinario</label>
                    <input type="text" class="form-control" id="evaluacionVeterinario" th:field="*{evaluacionVeterinario}" required="true" placeholder="Evaluación del veterinario">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="recomendaciones">Recomendaciones a tomar en cuenta de la mascota</label>
                    <input type="text" class="form-control" id="recomendaciones" th:field="*{recomendaciones}" required="true" placeholder="Recomendaciones a tomar en cuenta de la mascota">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i> Guardar
                </button>
            </div>
        </div>
    </section>
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>
