<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla::head">
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <section th:fragment="modificarRegistro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{accion.actualizar}]]</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST"
                                  th:action="@{/guardar}"
                                  th:object="${registro}"
                                  class="was-validated"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="id_usuario" th:field="*{id_usuario}"/>

                                <div class="form-group">
                                    <label for="nombre">[[#{registro.nombre}]]</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}" required="true">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="email">[[#{registro.email}]]</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}" required="true">
                                </div>

                                <img th:src="@{/images/registro.jpg}" alt=".." align="right" height="200px" width="200px"/>

                                <div class="form-group col-md-6">
                                    <label for="contrasena">[[#{registro.contrasena}]]</label>
                                    <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" th:field="*{contrasena}" required="true">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="repetir_contrasena">[[#{registro.contrasena}]]</label>
                                    <input type="password" class="form-control" id="repetir_contrasena" placeholder="Repetir Contraseña" th:field="*{repetir_contrasena}" required="true">
                                </div>

                                <div class="mb-3">
                                    <label for="activo">[[#{registro.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" th:checked="${registro.activo}" th:field="*{activo}"/>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            Acepto los términos y condiciones
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">[[#{registro.registrarme}]]</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>

