<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla::head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:fragment="listadoCitas" id="citas">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cita.listado}]]</h4>
                            </div>
                            <div th:if="${citas != null and !citas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID Cita</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Cedula</th>
                                            <th>Especialidad</th>
                                            <th>Fecha</th>
                                            <th>Mascota</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cita : ${citas}">
                                            <td th:text="${cita.idCitas}"></td>
                                            <td th:text="${cita.nombre}"></td>
                                            <td th:text="${cita.apellido}"></td>
                                            <td th:text="${cita.cedula}"></td>
                                            <td th:text="${cita.especialidad}"></td>
                                            <td th:text="${cita.fechaDisponible}"></td>
                                            <td th:text="${cita.nombreMascota}"></td>
                                            <td>
                                                <a th:href="@{/modificar/{idCitas}(idCitas=${cita.idCitas})}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Editar
                                                </a>
                                                <a th:href="@{/eliminar/{idCitas}(idCitas=${cita.idCitas})}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${citas == null or citas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
