<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla::head">
    </head>

    <body style=" margin-top: 0">

        <header th:replace="layout/plantilla :: header"></header>


        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/images/perros.jpg}" class="d-block w-100" alt="..." height="500px" width="600px">
                </div>
                <div class="carousel-item">
                    <img th:src="@{/images/conejos.png}"class="d-block w-100" alt="..."height="500px" width="600px">
                </div>

                <div class="carousel-item">
                    <img th:src="@{/images/gatos.webp}" class="d-block w-100" alt="..."height="500px" width="600px">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="container-fluid text-center " style="background-color: #e9e8e9; font-size: 20px; margin-top: 0">    
            <div class="container-fluid text-center " style="height: 50px; text-align: justify-all " ><h1 style="font-family: initial; margin-top: 10px; font-style:  italic; color: black">[[#{bienvenida1}]]</h1><br></div>
            <p style="font-family: cursive; align-content: center">

                [[#{bienvenida}]]</p> <br> </div>
        <div class="container-fluid text-center " style=" height: 60px; margin-top: 0" > <br>
                <h3 style="font-family: serif"> [[#{contacto}]]</h3>
        </div><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62879.695128149215!2d-84.15454492271695!3d9.935543132515727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e342c50d15c5%3A0xe6746a6a9f11b882!2zU2FuIEpvc8Op!5e0!3m2!1ses!2scr!4v1689094956613!5m2!1ses!2scr" width="1800px" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div th:replace="layout/plantilla :: info">
            </div>               
            <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
