<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla::head">
    </head>

    <body style="background-color: #B2CFDE; margin-top: 0">

        <header th:replace="layout/plantilla :: header"></header>

        <div class="container-fluid text-center ">
            <h3 style="font-family: initial; margin-top: 10px; font-style:  italic; color: #5748B8">¡Bienvenido a VetLove !</h3>
            <p style="font-family: cursive; align-content: center; margin-top: 20px">
             
                En VetLove, nuestro objetivo es brindar el mejor cuidado y atencion a tus queriadas mascotas. Somos una clinica veterinaria comprometida con la salud y el bienestar de los animales, y nos enorgullese ser parte de su felicidad y vitalidad
                Nuestro equipo de veterinarios altamente capacitados y amantes de los animales esta listo para ofrecer servicios de calidad que incluyen consultas medicas, vacunaciones, cirugias, analisis clinicos y mucho mas.
                En VetLove comprendemos que tu mascota es un miembro importante en tu familia y nos comprometemos a trabajar contigo para matenerla saludable y felix en todas la etapas de su vida. Nuestro enfoque personalizado y nuestro cuidado individualizado aseguran que cada visita sea una experiencia positiva tanto para ti como para tu mascota. 
                Explora nuestra pagina web para concoer mas sobre nuestros servicios, nuestro equipo y nuestros valores. 
                Estamos emocionados de recibirte en VetLove y de ser parte de la vida de tus adorables mascotas. <br>¡Ven y unete a nuestra familia de amantes de los animales!
                <br> ¡Gracias por elegir VetLove!</p></div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
