<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla::head">
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div>
            <img th:src="@{/images/vet_1.jpg}" class="d-block w-100" alt="..." height="300px" width="200px">
        </div>
        <div class="container-fluid text-center " style="height: 60px">
            <br>
                <h2 style="font-family: serif; background-color: #e9e8e9; height: 40px">
                    <legend class="text-center header">Gracias por usar la página web de Vetelove. Nos alegra que podamos cumplir con las necesidades de tus mascotas.</legend>
                </h2>
        
                    </div>

                    </div>
                    <div style="margin-top: 20px; font-family: sans-serif">

                        <div class="container-fluid col-md-6 "> <img th:src="@{/images/registro.jpg}" alt=".." align="right" height="200px" weidth="200px"/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        <form action="/guardarMascota" method="POST" style="margin: 10px">
                                            <div class="container-fluid">
                                                <div class="form-row">
                                                    <div class="form-group">      
                                                        <label for="nombre">Nombre</label>
                                                        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" name="nombre">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="raza">Raza</label>
                                                        <input type="text" class="form-control" id="raza" placeholder="Ingresa la raza de tu mascota" name="raza">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                                <div class="form-group " >
                                                    <button type="submit" class="btn btn-primary ">Enviar!</button>
                                                </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="layout/plantilla :: info">
                    </div>
                    <footer th:replace="layout/plantilla :: footer"></footer>
                    </body>
                    </html>

