
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/plantilla::head">
    </head>

    <body style="background-color: #B2CFDE">
        <header th:replace="layout/plantilla :: header"></header>
        <div style="margin-top: 20px"/>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="font-style: var" class="card-text">
                        Agrogenta® 11.</p>
                </div>
        </div>
        <!-- <div class="card" style="width: 18rem;">
             <img src="..." class="card-img-top" alt="...">
                 <div class="card-body">
                     <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
                 </div>
         </div>-->
    </body>
</html>
