<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/plantilla::head">
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div>
            <img th:src="@{/images/cat.jpg}" class="d-block w-100" alt="..." height="420px" >
        </div>
        <div class="container-fluid text-center " style="height: 60px">
            <h3 style="font-family: serif;background-color: #e9e8e9; height: 40px">¡Agenda una cita para tu mascota!</h3>
        </div>
        <form action="/guardarRegistroMedicoMascota" method="POST" style="margin: 10px">
            <img th:src="@{/images/registro.jpg}" alt=".." align="right" height="200px" width="200px" />
            <div class="container col-md-8">


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fechaUltimaVisita">Fecha de la ultima visita</label>
                        <input type="date" class="form-control" id="fechaUltimaVisita" name="fechaUltimaVisita">
                    </div>

                </div>
                <div class="form-row"> 
                    <div class="form-group">
                        <label for="razonUltimaVisita">Razon de la ultima visita</label>
                        <input type="text" class="form-control" id="razonUltimaVisita" placeholder="Razon de la ultima visita" name="razonUltimaVisita">
                    </div>
                    <div class="form-group">
                        <label for="examenFisico">Examen Fisico</label>
                        <input type="text" class="form-control" id="examenFisico" placeholder="Examen Fisico" name="examenFisico">
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso de la mascota</label>
                        <input type="text" class="form-control" id="peso" placeholder="Peso de la mascota" name="peso">
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="temperatura">Temperatura de la mascota</label>
                        <input type="text" class="form-control" id="temperatura" placeholder="Temperatura de la mascota"
                               name="temperatura">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="evaluacionVeterinario">Evaluacione del veterinario</label>
                        <input type="text" class="form-control" id="evaluacionVeterinario" placeholder="Evaluacione del veterinario"
                               name="evaluacionVeterinario">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="recomendaciones">Recomendaciones a tomar en cuenta de la mascota</label>
                        <input type="text" class="form-control" id="recomendaciones" placeholder="Recomendaciones a tomar en cuenta de la mascota"
                               name="recomendaciones">
                    </div>

                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Enviar</button>
                </div>
            </div>
        </form>
        <div th:replace="layout/plantilla :: info">
        </div>

        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>

</html>

